/* CSS Document */
.game_btn{ display:inline-block; width:196px; height:62px; line-height:62px; margin:0 0 15px 0; font-size:30px;  text-align:center; background:url(../images/bg.png) no-repeat 0px -477px; border:2px solid #e96c08; text-decoration:none;}
.index_start{ width:196px; display:inline-block; height:33px; line-height:33px; font-size:20px;  text-align:center; background:url(../images/bg.png) no-repeat 0px -544px; border:2px solid #e96c08; text-decoration:none;}





.btn{ display:inline-block; _display:inline; vertical-align:middle;color:#fff; font-weight:bold; text-align:center; background:url(../images/bg.png) no-repeat 0px -675px; border:1px solid #e96c08; cursor:pointer; zoom:1;}
.btn_bg{ height:25px; line-height:25px; padding:0 20px;}
.margin_l{ width:100px; margin:10px 0 0 100px;}
.register_btn{ float:right; width:126px; margin:10px 10px 0 0;}
.margin_r{ width:100px; margin:0 5px 0 0;}
.user_login_btn,.layer_btn{ height:27px; line-height:27px; margin:0 25px 0 154px; padding:0 85px;}
.layer_btn{ float:right; margin:0 15px; 0 0; padding:0 20px;}

