/* CSS Document */
#logo span{ display:none;}
#header{ margin:auto; background:#000;}
#top{ width:1000px; height:30px; line-height:30px; overflow:hidden; margin:auto;}
#happy{ float:left; width:400px; padding:0 0 0 5px; color:#FFF; font-size:12px;}
#login{ position:relative; top:5px; float:right; height:30px;}
#login li{ float:left; padding:2px 0 0 10px;}
#login li a{ line-height:30px; padding:0px 8px;}
#login li a:link,#login li a:visited{ color:#fff; text-decoration:none}
#login li a:hover{ color:#fff; text-decoration:underline;}
#login li .input135{ width:125px; height:20px; padding:0 5px; line-height:20px; color:#c8c8c8; background:#000; border:1px solid #363636;}
#login li .loginbtn{ background:#db5a07; height:22px; line-height:22px; border:none; color:#fff; padding:0 10px;}
#navWrap{ position:relative; width:1000px; height:102px; overflow:hidden; margin:auto;}
.logo-text{ position:absolute; top:15px; left:170px;}
.nav{ position:absolute; bottom:15px; right:0; width:771px; background:url(../images/top_nav.png) no-repeat; height:33px; line-height:33px; text-align:center;}
.nav li{ display:inline-block; height:33px; padding:0px 10px;  line-height:33px;}
.nav li.link{color:#fff; }
.nav li.active a{color:#ff6804;}
.nav li a{  font-size:14px; text-decoration:none;}
.nav li a:link,.nav li a:active{ color:#fff;}
.nav li a:hover{ color:#ff6804;}
#top_nav{ float:right;}
#top_nav li a{ line-height:30px; padding:0px 8px; color:#fff; text-decoration:none}
#login ul li #pwds{ position:absolute; top:22px; right:75px; color:#fff; text-decoration:none; color:#c8c8c8;}
