/* CSS Document */
.layer_area{ position:absolute; top:0; left:0; width:850px; height:580px; border:#2d3035 solid 1px; background:#000;}
.layer_top{ position:relative; height:24px; line-height:24px; padding:0 0 0 10px; font-weight:bold; color:#fff; background:url(../images/layer_top_bg.png) repeat-x;}
.layer_logo,.layer_message{ position:relative; height:90px; background:url(../images/layer_logo.png) no-repeat 75px 10px;}
.layer_logo a{ display:block; height:90px;}
.layer_logo h1 span{ display:none;}
.layer_logo span{ position:absolute; bottom:10px; left:430px; color:#fff;}
.form_group_area{ position:relative; margin:0 10px 10px; padding:10px; height:492px; background:#e2e2e2;}
.form_group_area.margin10{ margin:10px; height:515px;}
.layer_dotted{ margin:0 0 12px; padding:16px 0; border-top:#c3d0bb dotted 1px;  border-bottom:#c3d0bb dotted 1px;}
.layer_message{ background:#e2e2e2;}
.layer_message span{ position:absolute; bottom:10px; left:345px;color:#f00;}
.forget_password{ position:absolute; bottom:10px; left:70px; font-size:14px; color:#000;}
.padding_b30{ padding:16px 0 30px;}
.question{ display:inline-block; width:210px; color:#000;}
.register_con{ padding:0 0 0 70px; color:#000;}
.register_con p{ height:30px; line-height:30px; color:#000;}
.paddingB{ padding:16px 0 0;}
.layer_tab{ margin:10px 0 0 10px;}
.layer_area .form_caption{ width:100px;padding:0 5px 0 20px;}
.layer_area .input_w160{ width:200px;  height:20px; line-height:20px; padding:0 5px; border:1px solid #666; outline:none;}
.layer_area .input_w290{ width:350px; height:20px; line-height:20px; padding:0 5px; border:1px solid #666; outline:none;}
.layer_area .btn_div{padding: 0 0 0 108px;}
.layer_area .avatar_warp{ position:absolute; left:400px; width:220px; height:150px;}
.layer_area .avatar{ float:left; width:100px; height:100px; padding:1px; background:#fff; border:1px solid #c2c2c2;}
.layer_area .avatar_position{ position:absolute; left:110px; top:78px;}
.layer_area .title{ margin:0 0 10px; padding:5px 0 5px 20px; color:#000; border-bottom:1px solid #999;}
.bank_title{height: 25px;  padding:0 5px;margin: 0 0 15px;line-height: 25px;color: #000;background: #b7b7b7;}
.layer_area a{ color:#000; text-decoration:underline;}
.layer_area a:hover{ color:#f60;}
.tips_layer{ position:absolute; z-index:10; top:60px; left:50px; background:#e2e2e2; width:650px; height:500px; border:#000 solid 2px;}
.layer_hand{ padding:15px 10px;}
.layer_hand_left{ width:480px; height:450px; float:left; overflow-x:hidden; overflow-y:auto}
.layer_hand_left li{ float:left; border:2px solid #ddd; width:100px; height:100px; padding:1px; margin:0 8px 10px 0; background:#fff; cursor:pointer;}
.layer_hand_left li:hover{ border:2px solid #ee7600;}
.layer_hand_right{ float:left; width:140px; padding:0 0 0 5px;}
.layer_hand_right li img{ padding:1px; border:1px solid #ddd; cursor:pointer;}
.layer_hand_right li .btnright,.layer_hand_right li .btncancel{margin:0 2px 0 0;padding: 0 20px; border:none;height: 24px;color: #333;background: url(../images/bg.png) 0 -631px;cursor: pointer; outline:none;}
.layer_hand_right li .btnright{ background-position:0 -606px; color:#fff;}